.Reports{
    width: calc(100vw - 250px);
    margin-left: 250px;
    /* border: 2px solid red; */
    overflow: hidden;
    margin-left: 250px;
    /* background-color: #4E4058; */
    padding: 0;
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}


  p {
    margin-bottom: 1rem;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .nevbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    background-color: #f5f5f5;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
  }

  /* From Uiverse.io by vinodjangid07 */ 
.InputContainer {
    /* border: 2px solid red; */
    width: 310px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
  .input {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    caret-color: rgb(255, 81, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
  }
  
  /* Navigation */

  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    margin: 0 1rem;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Main Content */
  main {
    padding: 2rem;
  }
  
  /* Data Table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
  }
  
  th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  /* Button Styling */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #fff
  }