.Leads {
  width: calc(100vw - 250px);
  margin-left: 250px;
  padding: 20px;
  font-size: 1.5rem;
  
}

.toplevalediv {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.lower-piechart{
  background-color: #fff;
  padding: 20px;
  margin-bottom: 40px;
  font-size: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.description {
  margin-bottom: 30px;
}

.description h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.paragraph {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.piechat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.discribe-piechat {
  width: 60%;
  margin-right: 20px;
}

.list {
text-align: justify;
  font-size: 1.5rem;
  line-height: 1.6;
  list-style-type: none;
  padding: 0;
}

.list li {
  margin-bottom: 15px;
}

.piechat-lower {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.lists {
      margin-top: 20px;
  font-size: 1.5rem;
  line-height: 1.6;
  list-style-type: none;
  padding: 0;
}

.lists li {
  margin-bottom: 10px;
}

.discribe-piechats {
  margin-top: 40px;
}

.discribe-piechats h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.discribe-piechats .list {
  font-size: 1.5rem;
  line-height: 1.6;
}

.discribe-piechats .list li {
  margin-bottom: 15px;
}

.discribe-piechats .list b {
  font-weight: bold;
}
