.Sidebar {
    background-color: #44334D;
    /* border: 2px solid green; */
    width: 250px; 
    height: 100vh; 
    position: fixed;   
}
.userprofile{
        display: flex;
        gap: 15px;
        font-size: 30px;
        height: 50px;
        width: 100%;
        margin-top: 200px;
        /* margin-left: 10px; */
        color: #CECECE;
        background-color: #4e3260;
        overflow: hidden;
        align-items: center;
        justify-content: center;
}
.upper-level{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
    flex-direction: column; 
    align-items: stretch; 
    padding: 10px; 
    gap: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}
.logo{
    width: 200px;
    margin-left: 13px;
    /* border: 2px solid yellow; */
}


.sidebuttons {
    cursor:pointer;
    width: 8.3em;
    height: 2.3em;
    margin-top: 1em;
    margin-left: 1.5em;
    background: #44334D;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   .sidebuttons:hover {
    color: black;
   }
   
   .sidebuttons:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .sidebuttons:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }
