@import url(https://fonts.googleapis.com/css?family=Markazi+Text:regular,500,600,700);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Markazi Text", serif;
  background-color: #f5f5f5;
  color: #333;
}
.App{
  display: flex;
}
::-webkit-scrollbar {
  display: none;
}